

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        background: black;
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
       
        
    }

    .top-nav-collapse {
        padding: 0;
    }

}


div #header img {
 width:; /* the width of the logo image */
 height:; /* the height of the logo image */
 margin:0 auto;
}
.intro-section {
    height: 100%;
    padding-top: 270px;
    text-align: center;
    color: white;
    background-image:url(../img/sign7.jpg);
    background-repeat: no-repeat;
}
.intro-section h1 { 
    padding-left: 60%;
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
} 

.intro-section h2 { 
    font-size: 50px;
    padding-left: 60%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
} 

.intro-section h3 { 
   
    padding-left: 60%;
} 

.intro-section h4 { 
    padding-left: 60%;
    font-family: arial;
    font-size: 20px;

} 


.btn{ 
    background-color: black;
    font-size: 20px;
    color: silver;
    margin-left: 60%;
} 

.about-section {
    height: 100%;
    padding-top: 5%;
    text-align: center;
    background: #eee;
}

.services-section {
    positive: relative;
    height: 100%;
    padding-top: 5%;
    text-align: center;
    background: #fff;
   
}

.rates {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-top: 5%;
    
    overflow: hidden;
    text-align: left;
    align-content: center;
}

.ratesDescription { 
    font-size: 20px;
} 
.rates img {
    margin-left; 60%;
    float: right;
}

.contact-section {
    height: 100%;
    padding-top: 5%;
    text-align: center;
    background: #eee;
}
ul{ 
    
    list-style-type: none;
    
} 
    #map-outer {  height: 100%; 
	  				padding: 20px; 
					border: 2px solid #CCC; 
					margin-bottom: 20px; 
					background-color:#FFF }
	  #map-container { height: 400px }
footer { 
    margin-left: 100px;
    
}

